{% extends 'base.html.twig' %}

{% block title %}Welcome to BrainBattle!{% endblock %}

{% block body %}
<style>
    
</style>

<section class="landing container-flex full-page">
<div class="half center">
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead.svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(1).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(2).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(3).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(4).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(5).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(6).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(7).svg') }}" alt="">
    </div>
    <div class="div-img">
        <img class="big-head" src=" {{ asset('assets/images/bighead(8).svg') }}" alt="">
    </div>
</div>
<div class="half center">
    <div class="container-flex center">
                <h1 class="landingtitle m-h1">Welcome to <span>Brain Battle</span></h1>
            </div>
            <div class="pitch container-flex flex-column center">
                <p class="pitch-text m-text-pitch">
                Test your knowledge, challenge your friends, and climb the pyramid of success with Brain Battle - the ultimate quiz website. 
                </p>
                <p class="pitch-text m-text-pitch">
                Unleash your potential, earn points, and see where you rank among a variety of categories.
                </p>
                <h2 class="">
                    Ready to be part of Brain Battle? 
                </p>
                
            </div>
            <div class="center m-bottom">
                <div>
                    <button>Sign Up</button>

                </div>
        </div>
    </div>    
</div>
        
  
</section>

{% endblock %}
